:root {
  --primary: #123e49;
  --info: #009fb7;
  --success: #17b890;
  --warning: #FB8B24;
  --danger: #c20950;
  --light: #faf3dd;
  --dark: #123e49;
}

$primary: #123e49;
$info: #009fb7;
$success: #17b890;
$warning: #FB8B24;
$danger: #c20950;
$light: #faf3dd;
$dark: #123e49;

@import "../../node_modules/bootstrap/scss/bootstrap";

body{
  background-color: white;
  min-height: 100vh;
  font-family: Helvetica,Arial,sans-serif;
}

.action-link {
  @extend .text-info;
  @extend .fs-6;
  @extend .p-1;
  cursor: pointer;
}

.action-link:hover {
  @extend .bg-secondary;
  @extend .bg-opacity-10;
}

.action-link.small {
  font-size: small!important;
}
